name: Run VM tests

on:
  merge_group:
  workflow_call:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches: [main]
jobs:
  vm-tests:
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        include:
          - os: ubuntu-latest # x86
            system: "x86_64-linux"
            test: basic
          - os: ubuntu-22.04-arm # aarch64
            system: "aarch64-linux"
            test: basic
          - os: ubuntu-latest
            system: "x86_64-linux"
            test: special-args
          - os: ubuntu-22.04-arm
            system: "aarch64-linux"
            test: special-args
          - os: ubuntu-latest
            system: "x86_64-linux"
            test: linker
          - os: ubuntu-22.04-arm
            system: "aarch64-linux"
            test: linker
          - os: ubuntu-latest
            system: "x86_64-linux"
            test: xdg-linker
          - os: ubuntu-22.04-arm
            system: "aarch64-linux"
            test: xdg-linker
          - os: ubuntu-latest
            system: "x86_64-linux"
            test: xdg
          - os: ubuntu-22.04-arm
            system: "aarch64-linux"
            test: xdg
          - os: ubuntu-latest
            system: "x86_64-linux"
            test: no-users-linker
          - os: ubuntu-22.04-arm
            system: "aarch64-linux"
            test: no-users-linker


    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v31.8.3
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
            system-features = kvm nixos-test
            allow-import-from-derivation = false

      - name: Checkout
        uses: actions/checkout@v5

      - name: Build packages
        run: nix build -L .#checks.${{ matrix.system }}.${{ matrix.test }}
